.sidebar {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--header-height));
  flex-basis: var(--filter-sidebar-width);
  will-change: margin-right;
  overflow: hidden;
  transition: margin-right 0.3s ease-in-out;
}

.sidebar[data-open="true"] {
  margin-right: 0;
}

.sidebar[data-open="false"] {
  margin-right: calc(var(--filter-sidebar-width) * -1 + 60px);
}

.sidebar-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__filters {
    flex: 1 1 0;
    max-height: 445px;
  }

  &__controls-button {
    margin-bottom: auto;
  }
}
