html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidebar {
  flex-basis: var(--filter-sidebar-width);
  will-change: margin-right;
  transition: margin-right 0.3s ease-in-out;
}

.sidebar[data-open="true"] {
  margin-right: 0;
}

.sidebar[data-open="false"] {
  margin-right: calc(var(--filter-sidebar-width) * -1 + 65px);
}
