@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --filter-sidebar-width: 300px;
  --header-height: 70px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #5CDB95#EDF5E1;
}

::-webkit-scrollbar-thumb {
  background-color: #5CDB95;
  border-radius: 20px;
}

.input-checkbox {
  @apply border-dark text-dark focus:ring-offset-0 focus:ring-transparent rounded w-6 h-6 mr-[5px];
}

.input-label:hover {
  text-shadow: 0 0 1px white;
}
